<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 13%">
            <div id="form1">
                <a href="/services/<%= service.subpageLink %>" id="back">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony usługi <%= service.title %>
                </a>
                <h1 class="login">Edytuj usługę <%= service.title %></h1>
                <% if(error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>
                
                <form action="/services/<%= service._id %>?_method=PUT" method="post" id="form">
                   
                    
                    <div class="form-floating mb-3">
                       
                        <input required type="text" class="form-control" autocomplete="off" placeholder="demcio09" name="service[title]" value="<%= service.title %>" id="title" aria-label="Hasło" aria-describedby="basic-addon1">
                        <label for="title" class="username">
                            Nazwa usługi
                            
                        </label>
                        
                    </div>
                  

                    <div class="form-floating mb-3">
                       <textarea required class="form-control" name="service[description]" id="description"><%= service.description %></textarea>
                        <label for="description" class="username">
                            Opis usługi
                        
                        </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" autocomplete="off" placeholder="demcio09" name="service[time]" value="<%= service.time %>" id="time">
                        <label for="time" class="username">
                            Czas wykonania
                         
                        </label>
                     </div>
                     <div class="form-floating mb-3">
                        <input type="number" class="form-control" autocomplete="off" placeholder="demcio09" name="service[price]" <%= service.price %> id="price">
                        <label for="description" class="username">
                            Cena
                         
                        </label>
                     </div>
                     

                    <input type="submit" value="Edytuj usługę" class="btn button btn-danger btn-golden" id="send">
                   
                </form>
            </div>
            
        </div>
        
    </div>
</div>
<script>
    document.getElementById("form").addEventListener("submit", () => {
        document.getElementById("send").setAttribute("disabled", "disabled");
        document.getElementById("send").value = "Edytowanie...";
    })
</script>
</body>
</html>